@import 'tailwindcss';

:root {
  --foreground: var(--color-gray-200);
  --foreground-darker: oklch(0.78 0 0);
  --background: #111722;

  --card: var(--color-gray-800);
  --card-border: oklch(0.373 0.034 259.733 / 0.5);
  --card-header: oklch(0.21 0.034 264.665 / 0.4);
  --card-header-solid: oklch(0.21 0.034 264.665);
  --yellow-light: var(--color-yellow-400);
  --yellow-dark: var(--color-yellow-600);
  --gradient: linear-gradient(to right, var(--yellow-light), var(--yellow-dark));
  --badge-background: var(--color-gray-700);
  --badge-foreground: var(--color-gray-300);

  --color-accent-cyan: #22d3ee;
  --color-error: #f87171;

  --radius: 0.625rem;
  --radius-xs: 0.125rem;
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: 1rem;
  --radius-3xl: 1.5rem;
  --radius-4xl: 2rem;

  @supports (interpolate-size: allow-keywords) {
    interpolate-size: allow-keywords;
  }
}

@theme inline {
  --color-foreground: var(--foreground);
  --color-foreground-darker: var(--foreground-darker);
  --color-background: var(--background);
  --color-card: var(--card);
  --color-card-header: var(--card-header);
  --color-card-header-solid: var(--card-header-solid);
  --color-yellow-light: var(--yellow-light);
  --color-yellow-dark: var(--yellow-dark);
  --color-gradient: var(--gradient);
  --color-badge-background: var(--badge-background);
  --color-badge-foreground: var(--badge-foreground);
  --color-accent-cyan: var(--color-accent-cyan);
  --color-error: var(--color-error);
  --color-card-border: var(--card-border);
  --breakpoint-xs: 36rem;
}

@layer base {
  * {
    border-color: var(--card-border);
  }

  img {
    max-width: unset;
    height: unset;
  }
}

@utility bg-gradient-yellow {
  background-image: var(--gradient);
}

@utility text-gradient-yellow {
  background-image: var(--gradient);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text-outline-black {
  text-shadow:
    -1px -1px 0 black,
    1px -1px 0 black,
    -1px 1px 0 black,
    1px 1px 0 black;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family:
    Inter,
    ui-sans-serif,
    system-ui,
    sans-serif,
    'Apple Color Emoji',
    'Segoe UI Emoji',
    Segoe UI Symbol,
    'Noto Color Emoji';
}
